<section>

    <div class="d-flex justify-content-between">
        <h4>List Rakitan</h4>
        <a routerLink="/rakitan/create" class="btn btn-success" *ngIf="role == 'Admin'">Input Rakitan</a>
    </div>

    <br>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nama</th>
                <th width="220px">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="rakitan.length; else empty_data">
            <tr *ngFor="let data of rakitan">
                <td>{{ data.nama }}</td>
                <td>
                    <a href="#" [routerLink]="['/rakitan/', 'edit', data.id  ]" class="btn btn-warning me-2">Edit</a>
                    <button type="button" (click)="deleteRakitan(data.id)" class="btn btn-danger" *ngIf="role == 'Admin'">Delete</button>
                </td>
            </tr>
        </tbody>
        <ng-template #empty_data>
            <tr>
                <td class="text-center" colspan="6">Data Kosong</td>
            </tr>
        </ng-template>
    </table>
</section>
