<div class="container">
    <div class="d-flex justify-content-between">
        <h4>Form Barang</h4>
        <a href="#" routerLink="/barang/index" class="btn btn-primary">Back</a>
    </div>
    <hr/>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="barang">Barang:</label>
                <select formControlName="barang" class="form-control">
                    <option *ngFor="let data of barang" [value]="data.id">{{data.nama}}</option>
                </select>
                <div *ngIf="f.barang.invalid" class="alert alert-danger">
                    <div *ngIf="f.barang.errors.required">*Barang is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="total">Total:</label>
                <input
                    formControlName="total"
                    id="total"
                    type="number"
                    class="form-control">
                <div *ngIf="f.total.touched && f.total.invalid" class="alert alert-danger">
                    <div *ngIf="f.total.errors.required">*Harga Jual is required.</div>
                </div>
            </div>
        </div>
        
        <div class="form-group row" *ngIf="role == 'Staff'">
            <div class="col-md-6 ">
                <label for="validasi">Valid:</label>
                <select formControlName="validasi" class="form-control">
                    <option value="Ya">Ya</option>
                    <option value="Tidak">Tidak</option>
                </select>
                <div *ngIf="f.validasi.invalid" class="alert alert-danger">
                    <div *ngIf="f.validasi.errors.required">*Valid is required.</div>
                </div>
            </div>
        </div>

        <input
                type="text"
                formControlName="created_by"
                id="created_by"
                [hidden]="true"
                class="form-control">

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>