<section>

    <div class="d-flex justify-content-between">
        <h4>List User</h4>
        <a routerLink="/user/create" class="btn btn-success">Input User</a>
    </div>

    <br>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Username</th>
                <th width="220px">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="user.length; else empty_data">
            <tr *ngFor="let data of user">
                <td>{{ data.nama }}</td>
                <td>{{ data.username }}</td>
                <td>
                    <a href="#" [routerLink]="['/user/', 'edit', data.id  ]" class="btn btn-warning me-2" *ngIf="(role == 'Admin' || data.role != 'Admin') || (role == 'Staff' && (data.role == 'Staff'))">Edit</a>
                    <button type="button" (click)="deleteUser(data.id)" class="btn btn-danger" *ngIf="role != 'Staff'">Delete</button>
                </td>
            </tr>
        </tbody>
        <ng-template #empty_data>
            <tr>
                <td class="text-center" colspan="6">Data Kosong</td>
            </tr>
        </ng-template>
    </table>
</section>
