<div class="container">
    <div class="d-flex justify-content-between">
        <h4>Form Rakitan</h4>
        <a href="#" routerLink="/barang/index" class="btn btn-primary">Back</a>
    </div>
    <hr/>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="nama">Nama:</label>
                <input
                    formControlName="nama"
                    id="nama"
                    type="text"
                    class="form-control">
                <div *ngIf="f.nama.invalid" class="alert alert-danger">
                    <div *ngIf="f.nama.errors.required">*Nama is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
                <label for="solusi">Solusi:</label>
                <input
                    formControlName="solusi"
                    id="solusi"
                    type="text"
                    class="form-control">
                <div *ngIf="f.solusi.touched && f.solusi.invalid" class="alert alert-danger">
                    <div *ngIf="f.solusi.errors.required">*Solusi is required.</div>
                </div>
            </div>
        </div>

        <input
                type="text"
                formControlName="created_by"
                id="created_by"
                [hidden]="true"
                class="form-control">

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>