<section>

    <div class="d-flex justify-content-between">
        <h4>List Pembelian</h4>
        <a routerLink="/pembelian/create" class="btn btn-success">Input Pembelian</a>
    </div>

    <br>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Barang</th>
                <th>Total</th>
                <th>Divalidasi</th>
                <th width="220px">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="pembelian.length; else empty_data">
            <tr *ngFor="let data of pembelian">
                <td>{{ data.nama_barang }}</td>
                <td>{{ data.total_barang }}</td>
                <td>{{ data.is_validate ? "Sudah" : "Belum" }}</td>
                <td>
                    <a href="#" [routerLink]="['/pembelian/', 'edit', data.id  ]" class="btn btn-warning me-2" *ngIf="role == 'Pembeli' && data.is_validate == 0">Edit</a>
                    <button type="button" (click)="deletePembelian(data.id)" class="btn btn-danger" *ngIf="role == 'Pembeli' && data.is_validate == 0">Delete</button>
                    <button type="button" (click)="validate(data.id)" class="btn btn-success" *ngIf="role == 'Staff' && data.is_validate == 0">Validasi</button>
                </td>
            </tr>
        </tbody>
        <ng-template #empty_data>
            <tr>
                <td class="text-center" colspan="6">Data Kosong</td>
            </tr>
        </ng-template>
    </table>
</section>
